[Unit]
Description=Sets the default display brightness

[Service]
Type=oneshot
ExecStart=/usr/bin/xbacklight -set 80

[Install]
WantedBy=default.target
